!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Demo
    - ['jquery','jquery-ui-1.8.custom.min','rails','application'].each do |js|
      %script{:src => "/javascripts/#{js}.js", :type => 'text/javascript'}
  %body
